@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;900&display=swap");
@keyframes removing-animation {
  0% {
       opacity: 100%;
       transform: translateX(0);
   }

   30% {
       opacity: 80%;
       transform: translateX(50px);
   }

   80% {
       opacity: 10%;
       transform: translateX(-800px);
   }

   100% {
       opacity: 0;
       transform: translateX(-800px);
   }
}


* {
  color: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Noto Sans KR", sans-serif;
}
html {
  position: relative;
}
body {
  min-width: 800px;
}
#weather {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
#weather div {
  width: 500px;
  display: flex;
  justify-content: center;
}
#weather div > * {
  text-align: center;
  flex: 1;
  margin: 0 20px;
}
#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
#quote {
  display:flex;
  flex-direction: column;
  align-items: center;
  
}
#quote span:first-child {
  color: #dfe6e9;
  font-size: 15px;
  font-weight: 900;
}
#quote span:last-child {
  color: #dfe6e9;
  font-size: 15px;
  font-weight: 900;
}
form {
  text-align: center;
}
#login-form,
#user span {
  height: 80px;
  margin: 10px;
}
.login-form__user-name {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.login-form__user-name input {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  border-bottom: 3px solid #fff;
  outline: none;
  height: 50px;
  font-size: 20px;
  font-weight: 900;
  margin: 0 10px;
}
.login-form__user-name input::placeholder {
  text-align: center;
  color: #fff;
}
.login-form__user-name button {
  background: rgba(0, 0, 0, 0);
  border-width: 0;
  cursor: pointer;
  font-size: 30px;
}
#user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 50px;
  font-weight: 500;
}
.hidden {
  display: none;
}
#todo-form {
  margin: 20px;
}
#todo-form input {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-width: 0;
  width: 55%;
  height: 50px;
  color: #000000;
  font-size: 25px;
  font-weight: 900;
}
#todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
#todo-list li {
  width: 60%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00000071;
  transition: all 0.3s ease;
  padding: 5px;
}
#todo-list .removing {
  animation: removing-animation .8s cubic-bezier(.65,-0.02,.72,.29);
}
#todo-list li:hover {
  background-color: #000000a6;
}
#todo-list .checked {
  background-color: #eb4e4bc9;
}
#todo-list .checked:hover {
  background-color: #ca2724c9;
}
#todo-list .checked .todo-list__text {
  text-decoration: line-through;
}
#todo-list li > * {
}
.todo-list__check-box {
  flex: 1;
  width: 50%;
  height: 50%;
}
.todo-list__text {
  flex: 16;
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
}
.todo-list__time {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-list__button {
  flex: 1;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
  font-weight: 900;
}
li:not(.checked) .todo-list__button:hover {
  color: #eb4e4bc9;
}
